 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
background-color: #3a4452;
}
.container{
    width: 100spx;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    /* background-color: #3a4452; */
    padding: 10px;
    border-radius: 5px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(133, 12, 170), 5px 5px 15px rgba(0, 0,0, 0.2);
    background: transparent;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    margin: 10px;

} 
form .display{
    display: flex;
    justify-content: center;
    margin: 20px 0;
} 
form .display input{
   text-align: left;
   flex: 1;
   font-size: 45px;
   box-shadow: none;
}
box{
    color: aqua;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: rgb(94, 255, 0);
}