*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a3a3a);
}
.calculator{
    border: 1x solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}
input{
    width: 320px;
    border: non;
    padding: 240px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #0a0a0a;
}
input::placeholder{
    color: #0a0a0a;
}
button{
    border: 0;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: azure;
    font-size: 20px;
    box-shadow: 80px-8px 15px #000;
    cursor: pointer;
    outline: 10px solid #313131;
    outline-offset: 3px;
}
button:active{
    background-color: #000;
    transform: translate(2px, 2px);
}
.operator{
    color: orangered;
}
.calculator h1{
    text-align: center;
    color: white;
}
